
.moviePage{
   width:100%;
  
}
.backgroundImg{
   width:100%;
}
.movieTrailer{
   position: absolute;
   
   
   left:0;
   top: 65px;
   height: 100%;
   width:100%;
   overflow: hidden;
   text-align: right;
   justify-content:flex-end;
}
.movieDesc{
   position: absolute;
   left:0px;
   top:65px;
   max-width: 100%;
   background-image:linear-gradient(to right, #0f171e 40% , transparent );
   height: 100%;
}
.movieTitle{
   padding:30px 30px 10px 30px;
   color:white;
}
.rating{
   color:rgba(255, 255, 255, 0.411);
   font-weight: 500;
   margin-left:30px;
}
.rating span{
   border:2px solid rgba(255, 255, 255, 0.308);
   margin-left:5px;
   border-radius: 4px;
   padding:2px;
   font-size: 10px;
}
.btns{
   padding: 20px 30px;
   display: flex;
   align-items:center;
}
.playBtn{
   display:flex;
   align-items:center;
   border:none;
   width:200px;
   height: 60px;
   border-radius: 6px;
   outline:none;
   background-color:#0f79af;
   color:white;
   font-size: 20px;;
}
.playBtn span{
   margin-right: 10px;
}
.playBtn p{
   font-size:20px;
   font-weight: 400;
   margin-top:13px;
}
.description{
   width: 60%;
   color:white;
   padding:20px 30px;
   
   word-spacing:2px;
}
.cast{
   padding:10px 30px;
}
.cast table tbody tr td{
   color:rgba(255, 253, 253, 0.459);
   font-size: 16px;
   font-weight: 500;
   
}
.cast table tbody tr td:nth-child(even){
   
   padding:0px 10px;
   color:#79b8f3;
}
.addBtn{
   margin-left:20px;
   cursor: pointer;
   width:50px;
   height:50px;
   background-color:#425265;
   outline:none;
   border:none;
   color:#fff;
   border-radius:50%;
}